
@use "../base/variables" as vars;
@use "../base/containers";

body {
    font-family: 'Roboto', sans-serif;
    font-size: .9rem;
    margin: 0 auto;
    box-sizing: border-box;
    max-width: 1140px;
    color: #222222;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, li, span {
  margin: 0;
}
